h1{
  padding: 2vw;
}
.einträge{
  padding-top: 100px;
  margin-bottom: 500px;/*sonst kommt der footer hoch weil nicht genug inhalt da ist*/
}
div div img{
  width: 100%;
}
.karten-header {
  text-align: center;
  padding: 32px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 20%;
}
/* 4 Spalten gleiche breite nebeneinander */
.column {
  flex: 25%; /*mit flex*/
  max-width: 25%;
  padding: 0 4px;
  box-sizing: border-box; /*padding in die 25% eingerechnet, kein überfluss.*/
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.container {
  position: relative;
/*width: 50%;*/
/*max-width: 300px;*/
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through*/
  color: #f2f2f2;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  padding: 10px;
  text-align: center;
}
.seiten{
  text-decoration: none;
  color: #f36c3a;
  font-size: 1.8vw;
}
.container:hover .overlay {
  opacity: 1;
}
footer{
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px){
  .overlay a:first-of-type {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 2vw;
  }
  .seiten{
    font-size: 2.5vw;
  }
  /* 4 Spalten gleiche breite nebeneinander */
  .column {
    flex: 33%; /*mit flex*/
    max-width: 33%;
    padding: 0 4px;
    box-sizing: border-box; /*padding in die 25% eingerechnet, kein überfluss.*/
  }
  .container .overlay {
    opacity: 1;
  }
  .overlay {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through*/
    color: #f2f2f2;
    width: 100%;
    color: #f2f2f2;
    font-size: 0.8rem;
    padding: 15px;
    text-align: center;
  }
}
@media only screen and (max-width: 480px){
  .overlay {
    padding: 10px;
  }
  .overlay a:first-of-type {
      padding-bottom: 5px;
  }
}
