body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
a{
  font-family: Avenir;
}
p{
  font-family: Avenir;
}
h1{
  font-family: "Lexend Deca";
}
h2{
  font-family: "Lexend Deca";
}
h3{
   font-family: "Lexend Deca";
 }
a{
  font-family: Avenir;
}
nav{
  /*grid-area: nav;*/
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  list-style: none;
}
nav ul li {
  margin: 1rem;
}
nav li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: "Avenir", sans-serif;
}
.navbarlogo .Logo{
  max-width: 250px;
  max-height: 60px;
  padding: 20px;
}
.navbarlogo {
  position: absolute;
  align-items: center;
  display: inline-flex;
  z-index: 3;
  width: 100%;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}
footer{
  background-color: #2E2B40;
  color: white;
  height: 300px;
  padding: 50px;
}
footer p{
  color: white;
}
footer a{
  text-decoration: none;
  color: white;
}
.my-button {
  background-color: transparent;
  border: 10px;
  color: black;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  display: none;
}

.my-button:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  nav{
    position: relative;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
nav ul a{
  color: white;
}
  nav ul.show {
    display: flex;
    background: #2E2B40;
    text-align: center;
    padding: 0;
  }

  .my-button {
    display: block;
  }
}
