body, html {
  height: 100%;
  margin: 0;
}
nav li a{
  color: black;
}

.flexwrapper{
  padding-top: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.karte {
  width: 350px;
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid #dae1f5;
  border-radius: 10px;
}

.karte .karten_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 50px;
  background-color: rgba(234, 218, 108, 0.5);
  background-image: url("Blume.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}

.karte .karten_header h2 {
  color: #2E2B40;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
}

.karte .karten_header .zahlung {
  display: block;
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 30px;
}

.karte .karten_header .btn {
  padding: 12px 36px;
  color: #ffffff;
  background-color: #2E2B40;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}

.karte .karten_header .btn:hover {
  background-color: #2E2B40;
}

.karte .vorteile {
  padding: 30px 62px 40px;
}

.karte .vorteile li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.karte .vorteile li:last-child {
  margin-bottom: 0;
}

.karte .vorteile li img {
  width: 13px;
  margin-right: 10px;
}

.karte .vorteile li a {
  color: #10182f;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

/* Let's write the media query */
@media (max-width: 576px) {
  body {
    padding: 10px;
  }

  .karte {
    width: 100%;
    margin: 10px;
  }

  .karte .vorteile {
    padding: 30px 50px 40px;
  }
}



.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  background-color: #eada6c;
}
.information h1{
  font-family: "Lexend Deca";
  font-weight: bold;
  font-size: xxx-large;
  margin: 80px;
  padding-top: 70px;
  color: #2E2B40;
  text-align: center;
}
.information p{
  font-family: Avenir;
  font-size: x-large;
  color: #2E2B40;
}
summary{
  font-size: x-large;
  font-family: "Avenir Black";
}
details{
  cursor: pointer;
  padding: 1%;
  width: 50%;
  background: white;
  color: #2E2B40;
  font-size: 2rem;
  border-radius: 3px ;
  border-style: solid;
  margin: 1%;
}
details[open] summary{
  margin-bottom: 10px;
  color: #f36c3a;
}
details p{
  font-size: 1.5rem;
  padding: 1%;
}

@media only screen and (max-width: 768px){

}


