/* Preiskarten */
.flexwrapper{
  padding-top: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("blumen.png");
  background-repeat: repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.karte {
  width: 350px;
  margin: 20px;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  border-radius: 15px;
}
.karte .karten-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 50px;
  background-color: #2E2B40;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}
.karte .karten-header h2 {
  color: #eada6c;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
}
.karte .karten-header .zahlung {
  display: block;
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 30px;
  color: #eada6c;
}
.karte .karten-header .btn {
  padding: 12px 36px;
  color: #2E2B40;
  background-color: #f36c3a;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}
.karte .karten-header .btn:hover {
  background-color: #eada6c;
}
.karte .vorteile {
  padding: 30px 62px 40px;
}
.karte .vorteile li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.karte .vorteile li:last-child {
  margin-bottom: 0;
}
.karte .vorteile li img {
  width: 13px;
  margin-right: 10px;
}
.karte .vorteile li a {
  color: #10182f;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
/* zweiter Teil der Seite */
h1{
  font-family: "Lexend Deca";
  font-weight: bold;
  font-size: 3vw;
  margin: 40px;
  padding-top: 70px;
  color: #2E2B40;
  text-align: center;
}
.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
  background-color: #eada6c;
}
summary{
  font-size: 1.8rem;
  font-family: "Avenir Black";
}
details{
  cursor: pointer;
  padding: 1%;
  width: 60%;
  background: white;
  color: #2E2B40;
  font-size: 1.5rem;
  border-radius: 3px ;
  border-style: solid;
  margin: 1%;
}
details[open] summary{
  margin-bottom: 10px;
  color: #f36c3a;
}
details p{
  font-family: Avenir;
  color: #2E2B40;
  padding: 15px;
}
@media only screen and (max-width: 1080px){
  details{
    width: 80%;
  }
  h1{
    font-size: 5vw;
  }
}
@media only screen and (max-width: 768px){
  details {
    width: 90%;
  }
  .karte {
    width: 100%;
    margin: 10px;
  }
  .karte .vorteile {
    padding: 30px 50px 40px;
  }
  details p{
    padding: 10px;
    font-size: 1rem;
  }
  summary{
    font-size: 1.5rem;
  }
  h1{
    font-size: 6vw;
  }
}
@media only screen and (max-width: 480px){
  details{
    font-size: 1rem;
  }
  summary{
    font-size: 1.2rem;
  }
}


