.kontakt{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
address{
 font-size: 1.8vw;
}
h1{
  font-size: 2.5vw;
}
h2{
  font-size: 3.7vw;
  padding: 25px;
}
h3{
  font-size: 2.5vw;
}
.onlineFriedhof{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 250px 20px 250px 20px;
}
.onlineFriedhof p{
  font-size: 1.8vw;
}
.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #eada6c;
}
.row .left{
  overflow: hidden;
}
.row .left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row .right{
}
.row .right .content p{
  /*folgt*/
}
/*Media Queries*/
@media(max-width: 1080px){
  h1{
    font-size: 3.5vw;
  }
  h2{
    font-size: 3vw;
  }
  address{
    font-size: 2.5vw;
  }
  .row .right .content{
    padding-left: 0; /*über die ganze Seite*/
    padding-right: 0;
  }
}
@media(max-width: 768px){
  h1{
    font-size: 4.5vw;
  }
  h2{
    font-size: 5vw
  }
  h3{
    font-size: 4.5vw;
  }
  .onlineFriedhof p{
    font-size: 3.5vw;
  }
  address{
    font-size: 3.5vw;
  }
  .zitat{
  text-align: center;
  }
  .row {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
