.vorstellung {
  padding-top: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #eada6c;
  height: 40%;
}
.navbarlogo{
  background-color: white;
}
.kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  text-align: center;
  position: relative;
}
/*das muss als festes bild gemacht werden*/
.kontakt img {
  width: 600px; /* feste größe um scalen zu verhindern */
  position: absolute;
  top: 6%; /* Passt die Höhe an */
  left: 50%;
  transform: translate(-50%, 0); /* Zentriert das Bild horizontal */
  z-index: -1; /* Bild hinter dem Text */
}

.kontakt h1 {
  position: relative;
  z-index: 2; /* Überschrift bleibt über dem Bild */
  margin-top: 0;
}
@media only screen and (max-width: 768px){
  .vorstellung{
    padding: 5%;
    padding-top: 30%;
  }
}
