
body, html {
  height: 100%;
  margin: 0;
}
nav li a {
  color: white;
}
/*
nav{
  /*grid-area: nav;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  list-style: none;
}

nav ul li {
  margin: 1rem;
}
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}
.Logo{
  max-width: 250px;
  max-height: 60px;
  padding: 20px;
}
.navbarlogo {
  position: absolute;
  align-items: center;
  display: inline-flex;
  z-index: 3;
  width: 100%;
}
*/
/* Parallax-Scrolling Effekt */
.parallax {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100vh; /* Höhe des Parallax-Containers */
  background-image: url('Ringelblume_SW.png'); /* Hintergrundbild für Parallax */
  background-attachment: fixed; /* Parallax-Effekt nach WC3*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
.parallax a{
  font-size: 2rem;
  color: white;
  position: sticky;
  top: 0;
}

/* Inhalt für den Parallax-Bereich */
.content {
  /*
  position: absolute;
  top: 100%; /* Positionierung
  left: 50%;
  transform: translate(-50%, -50%);  Zentrieren des Inhalts
  text-align: center;
  z-index: 2; Damit der Inhalt über dem Parallax-Bereich bleibt */
  color: white;
  padding: 100px;
  position: fixed;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

p {
  font-size: 1.5rem;
  color: black;
}
span{
  font-family: "Lexend Deca";
}

/* Sektion unter dem Parallax, in der das transparente Bild erscheint */
.testsektion {
  height: 100vh;
  padding: 20px;
  background-image: url('Ringelblume_Bunt.png'); /* Parallax-Hintergrundbild */
  background-attachment: fixed; /* Parallax-Effekt */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Sektion unter Parallax */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 20px;
  background-image: url("Ringelblume_Bunt_1.png");
  background-attachment: fixed; /* Parallax-Effekt nach WC3*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h2{
}
.erstellen p:first-of-type,
.qrcode p:first-of-type,
.herz p:first-of-type {
  font-weight: bold;
  font-size: 2rem;
}

.section p{
  position: relative;
  top: -15%;
  background-color: #f2f2f2;
  text-align: center;
}
div div img{
  width: 200px;
  height: 200px;
  background-color: #eada6c;
  padding: 60px;
  border-radius: 10px;
}
.images {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: -5%;
  margin-bottom: 300px;
}

.images span{
  font-size: 5rem;
}
h3{
  font-size: 7rem;
  top: -224px;
  /* padding-bottom: 200px; */
  position: relative;
}
.erstellen{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  text-align: center;
}
.qrcode{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  text-align: center;
}
.herz{
   display: flex;
   flex-direction: column;
   align-items: center;
    max-width: 350px;
    text-align: center;
 }
/*anderes parallax scrolling
.testsektion1{
  background-color: white;
  height: 300px;
  position: relative;
  z-index: 1;
  margin-top: -100px;
}*/
/*480/768/1080*/
/*new*/
.my-button {
  background-color: transparent;
  border: 10px;
  color: black;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  display: none;
}

.my-button:focus {
  outline: none;
}
@media only screen and (max-width: 1080px){
  .parallax {
    position: relative;
    height: 150vh; /* Höhe des Parallax-Containers */
    background-image: url('ringelblume_1080.png'); /* Hintergrundbild für Parallax */
    background-attachment: fixed; /* Parallax-Effekt nach WC3*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Inhalt für den Parallax-Bereich */
  .content {
    /*
    position: absolute;
    top: 100%; /* Positionierung
    left: 50%;
    transform: translate(-50%, -50%);  Zentrieren des Inhalts
    text-align: center;
    z-index: 2; Damit der Inhalt über dem Parallax-Bereich bleibt */
    color: white;
    padding: 100px;
    position: fixed;
  }
  /* Sektion unter dem Parallax, in der das transparente Bild erscheint */
  .testsektion {
    height: 120vh;
    background-image: url('ringelblume_bunt_1080.png'); /* Parallax-Hintergrundbild */
    background-attachment: fixed; /* Parallax-Effekt */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Sektion unter Parallax */
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 20px;
    background-image: url("Ringelblume_Bunt_1.png");
    background-attachment: fixed; /* Parallax-Effekt nach WC3*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h3{
    font-size: 5rem;
    top: -160px;
    /* padding-bottom: 200px; */
    position: relative;
  }
  .images{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
  }
}
@media only screen and (max-width: 768px){
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav ul.show {
    display: flex;
  }

  .my-button {
    display: block;
    color: white;
  }
  h3{
    font-size: 3rem;
    top: -95px;
  }
  .images{
    margin-top: -100px;
  }
  /*parallax*/
  .parallax {
    position: relative;
    height: 100vh; /* Höhe des Parallax-Containers */
    background-image: url('ringelblume_768.png'); /* Hintergrundbild für Parallax */
    background-attachment: fixed; /* Parallax-Effekt nach WC3*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Inhalt für den Parallax-Bereich */
  .content {
    /*
    position: absolute;
    top: 100%; /* Positionierung
    left: 50%;
    transform: translate(-50%, -50%);  Zentrieren des Inhalts
    text-align: center;
    z-index: 2; Damit der Inhalt über dem Parallax-Bereich bleibt */
    color: white;
    padding: 20px;
    position: relative;
  }
  /* Sektion unter dem Parallax, in der das transparente Bild erscheint */
  .testsektion {
    height: 120vh;
    background-image: url('ringelblume_bunt_768.png'); /* Parallax-Hintergrundbild */
    background-attachment: fixed; /* Parallax-Effekt */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Sektion unter Parallax */
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 20px;
    background-image: url("Ringelblume_Bunt_1.png");
    background-attachment: fixed; /* Parallax-Effekt nach WC3*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
    /* Entfernt alle vorher gesetzten Styles
    .parallax {
      all: unset;
    }

    .content {
      all: unset;
    }

    .testsektion {
      all: unset;
    }

    .section {
      all: unset;
    }*/
  .parallax {
    position: relative;
    height: 100vh; /* Höhe des Parallax-Containers */
    background-image: url('ringelblume_480.png'); /* Hintergrundbild für Parallax */
    background-attachment: fixed; /* Parallax-Effekt nach WC3*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Inhalt für den Parallax-Bereich */
  .content {
    /*
    position: absolute;
    top: 100%; /* Positionierung
    left: 50%;
    transform: translate(-50%, -50%);  Zentrieren des Inhalts
    text-align: center;
    z-index: 2; Damit der Inhalt über dem Parallax-Bereich bleibt */
    color: white;
    padding: 20px;
    position: relative;
  }
  /* Sektion unter dem Parallax, in der das transparente Bild erscheint */
  .testsektion {
    height: 120vh;
    background-image: url('ringelblume_bunt_480.png'); /* Parallax-Hintergrundbild */
    background-attachment: fixed; /* Parallax-Effekt */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Sektion unter Parallax */
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 20px;
    background-image: url("Ringelblume_Bunt_1.png");
    background-attachment: fixed; /* Parallax-Effekt nach WC3*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

