.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}
.container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  height: 280px;
  margin: 20px;
  border-style: solid;
  border-color: black;
}
.container .img-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: #eada6c;
}
.container .details{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
}
.container .details h2{
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 1em;
  color: black;
}
.container .details p{
  max-width: 85%;
  color: black;
  font-size: 15px;
  margin-bottom: 36px;
}
div div img{
  width: 180px;
  height: 180px;
  padding: 40px;
}

@media(max-width: 768px){
  .container {
    height: auto;
    width: 50%;
  }
  .container .img-container{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
  }
  .container .img-container img{
    max-width: 100%;
  }
  .container .details{
    width: 100%;
    height: auto;
    padding: 20px;
  }
}













/*Allgemein*/
body, html {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 3rem;
  color: #fff;
}
p {
  font-size: 1.5rem;
  color: black;
}
span{
  font-family: "Lexend Deca";
}
header{
  position: absolute;
  width: 100%;
  z-index: 3;
}
/*Navbar*/
.navbar{
  display: flex;
  align-items: center;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav ul li {
  margin: 1rem;
}
nav li a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Avenir", sans-serif;
}
.Logo{
  max-width: 250px;
  max-height: 60px;
  padding: 20px;
}
#my-button {
  display: none;
}
nav ul.show{
  left: 0%;
}
/* Parallax-Scrolling Effekt */
/* Erstes Bild */
.parallax {
  height: 100vh; /* Höhe des Parallax-Containers */
  background-image: url('Ringelblume_SW.png'); /* Hintergrundbild für Parallax */
  background-attachment: fixed; /* Parallax-Effekt nach WC3*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Zweites Bild, in der das transparente Bild erscheint */
.testsektion {
  height: 100vh;
  padding: 20px;
  background-image: url('Ringelblume_Bunt.png'); /* Parallax-Hintergrundbild */
  background-attachment: fixed; /* Parallax-Effekt */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Sektion unter Parallax */
.section {
  height: 50vh;
  padding: 20px;
  background-image: url("Ringelblume_Bunt_1.png");
  background-attachment: fixed; /* Parallax-Effekt nach WC3*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Anleitung für die Erstellung einer Seite */
.erstellen p:first-of-type,
.qrcode p:first-of-type,
.herz p:first-of-type {
  font-weight: bold;
  font-size: 2rem;
}
.section p{
  position: relative;
  top: -15%;
  background-color: #f2f2f2;
  text-align: center;
}

.images {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: -5%;
  margin-bottom: 300px;
}
.images span{
  font-size: 5rem;
}
h3{
  font-size: 7rem;
  top: -224px;
  /* padding-bottom: 200px; */
  position: relative;
}
.erstellen{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  text-align: center;
}
.qrcode{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  text-align: center;
}
.herz{
   display: flex;
   flex-direction: column;
   align-items: center;
    max-width: 350px;
    text-align: center;
 }
/*480/768/1080*/
/*new*/
.my-button {
  background-color: transparent;
  border: 10px;
  color: black;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  display: none;
}
.my-button:focus {
  outline: none;
}

/* Media Queries für Responsives Verhalten */
@media only screen and (max-width: 1080px){
  .parallax {
    height: 150vh; /* Höhe des Parallax-Containers */
    background-image: url('ringelblume_1080.png'); /* Anderes Hintergrundbild für Parallax */
  }
  /* Sektion unter dem Parallax, in der das transparente Bild erscheint */
  .testsektion {
    height: 120vh;
    background-image: url('ringelblume_bunt_1080.png'); /* Parallax-Hintergrundbild */
  }
  h3{
    font-size: 5rem;
    top: -160px;
    /* padding-bottom: 200px; */
    position: relative;
  }
  .images{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
  }
}
@media only screen and (max-width: 768px){
  header{
    position: fixed;
    background-color: black;
  }
  nav ul a{
    color: black;
  }
  #my-button {
    display: block;
    color: #ffffff;
  }
  nav ul {
    background-color: white;
    position: fixed;
    transition: left 0.5s ease-in-out;
    left: 100%;
    top: 88px;/*nach unten um nicht von der navbar vrdeckt zu werden*/
    width: 100vw;
    height: calc(100vh - 73.6px);/*und über die ganze seite*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    padding: 0;/*das ist damit der text mittig ist*/
  }
  .my-button {
    display: block;
    color: white;
  }
  h3{
    font-size: 3rem;
    top: -95px;
  }
  .images{
    margin-top: -100px;
  }
  /*parallax*/
  .parallax {
    background-image: url('ringelblume_768.png'); /* Hintergrundbild für Parallax */
  }
  /* Sektion unter dem Parallax, in der das transparente Bild erscheint */
  .testsektion {
    height: 120vh;
    background-image: url('ringelblume_bunt_768.png'); /* Parallax-Hintergrundbild */
  }
  /* Sektion unter Parallax */
  .section {
    background-image: url("Ringelblume_Bunt_1.png");
  }
}
@media screen and (max-width: 480px) {
  .parallax {
    background-image: url('ringelblume_480.png'); /* Hintergrundbild für Parallax */
  }

  /* Sektion unter dem Parallax, in der das transparente Bild erscheint */
  .testsektion {
    height: 120vh;
    background-image: url('ringelblume_bunt_480.png'); /* Parallax-Hintergrundbild */
  }
}

