/* Zeitlinie nach WC3 */
.borderclass{
  background-color: #2E2B40;
}
.timeline {
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;  /* oben und unten Padding, aber bleibt mittig */
}
/* Zeitlinie */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 80px;
  bottom: 30%;
  left: 50%;
  margin-left: -3px;
}
.container {
  box-sizing: border-box;/*das muss hier sein*/
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* Kreise */
.container::after {
  content: attr(data-number);
  position: absolute;
  width: 40px;
  height: 40px;
  right: -23px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 35px;
  color: #FF9F55;
  font-family: Avenir;
}
/* Positionierung für den rechten Kreis */
.right::after { /
  transform: translateX(-20%); /* Korrigiert die Position */
  left: -23px;
}
/* container links platzieren */
.left {
  left: 0;
}
/* Container rechts */
.right {
  left: 50%;
}
/* Pfeile */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
/* Pfeile nach links */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
.content {
  padding: 20px 30px;
  background-color: #f2f2f2;
  position: relative;
  border-radius: 6px;
}
h3{
  margin: 0;
  font-size: 7vw;
  color: #eada6c;
  padding: 0;
}
main{
  background-color: #2E2B40;
}

/*Allgemein*/
body, html {
  padding: 0;
  margin: 0;
}
header{
  width: 100%;
  z-index: 3;
  background-color: #222222;
}
.arrow {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.3s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
h1{
  font-size: 4vw;
  color: white;
  text-align: center;
  margin-bottom: 150px;
}
.testsektion h2{
  font-size: 3vw;
  color: #2E2B40;
}
.testsektion p{
  font-size: 2vw;
  color: #2E2B40;
}
/* Parallax-Scrolling Effekt */
/* Erstes Bild */
.parallax {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;/* Höhe des Parallax-Containers */
  background-image: url('yaotl.png'); /* Hintergrundbild für Parallax */
  background-attachment: fixed; /* Parallax-Effekt nach WC3*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #222222;
}
/* Zweites Bild, in der das transparente Bild erscheint */
.testsektion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-image: url('yaotl1.png'); /* Parallax-Hintergrundbild */
  background-attachment: fixed; /* Parallax-Effekt */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #eada6c;

}
/* Sektion unter Parallax */
.section {
  background-color: #eada6c;
  /*height: 100vh;*/
  background-image: url("yaotl1.png");
  background-attachment: fixed; /* Parallax-Effekt nach WC3*/
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/*480/768/1080*/
/*new*/
.menuButton {
  background-color: transparent;
  border: 10px;
  color: black;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  display: none;
}
.menuButton:focus {
  outline: none;
}
/* Media Queries für Responsives Verhalten */
@media only screen and (max-width: 1080px){
  .parallax{
    background-image: url("yaotl_1080.png");
  }
  .testsektion{
    background-image: url("yaotl1_1080.png");
  }
}
@media only screen and (max-width: 768px){
  .parallax{
    background-image: url("yaotl_768.png");
  }
  .testsektion{
    background-image: url("yaotl1_768.png");
  }
  nav ul a{
    color: black;
  }
  #menuButton {
    display: block;
    color: #ffffff;
  }
  nav ul {
    background-color: white;
    position: fixed;
    transition: left 0.5s ease-in-out;
    left: 100%;
    top: 88px;/*nach unten um nicht von der navbar vrdeckt zu werden*/
    width: 100vw;
    height: calc(100vh - 73.6px);/*und über die ganze seite*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    padding: 0;/*das ist damit der text mittig ist*/
  }
  .menuButton {
    display: block;
    color: white;
  }
  .timeline::after {
    left: 35px;
  }
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .right::after{
    left: 12px;
  }
  /* Make sure all circles are at the same spot */
  .left::after {
    left: 12px;
  }
  /* alle rechten container sollen sich wie die linken verhalten */
  .right {
    left: 0%;
  }
}
@media screen and (max-width: 480px) {
  .parallax{
    background-image: url("yaotl1_480.png");
  }
  .testsektion {
    background-image: url("yaotl_480.png");
  }
  .timeline::after {
    bottom: 35%;
  }
}

